.container {
    background-color: #5b6074;
    padding: 1rem;
    color: #ffffff;
}
.navbar {
    display: flex;
    flex-direction: column;
}
.navbar__brand {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.navbar__list {
    display: flex;
    flex-direction: column;
}
.navbar__item {
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__brand {
        margin-bottom: 0;
    }
    .navbar__list{
        flex-direction: row;
    }
    .navbar__item {
        margin: 0 1rem;
    }
    @media (min-width: 992px){
        
    }
}