.container {
    background-color: #5b6074;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
.footer__title {
    margin-bottom: 1rem;
}
.footer__author {
    margin-bottom: 1rem;
}

@media (min-width: 768px){
}

@media (min-width: 992px){
}